.post-show {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.mainpage-item-show {
    width: 100%;
    text-align: left;
}

.post-title {
    font-size: large;
}

.post-info {
    color: grey;
    font-size: 12px;
}

.sidebar {
    background-color: transparent;
    border-radius: 12px;
    margin: 2px;
    border: 1px solid rgb(216, 216, 216);
}

.sidebar .username {
    margin-left: 12px;
    text-align: left;
}

.sidebar .userinfo {
    font-family: 'Times New Roman', STKaiti, KaiTi, '楷体', serif;
    font-size: 15px;
    width: 100%;
}
