{% extends "template.html" %}
{% include "head.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul>
                <!-- 20 posts per page -->
                {% for post in posts[(int(curPage)-1)*20:int(curPage)*20] %}
                    <li>
                        <a href="/post/{{ post['post_num'] }}"><h4>{{ post["title"] }}</h4></a>
                        <p style="text-align:right;">发布于<i>{% raw time_to_now(post["post_time"]) %}(EST)</i> by {{ post["author"] }}
                        <br>
                        最后更新于<i>{% raw time_to_now(post["last_modified"]) %}(EST)</i></p>
                        <hr/>
                    </li>
                {% end %}
            </ul>
            <div style="text-align:center;">
                <ul class="pagination">
                    <!-- previous -->
                    {% if int(curPage) <= 1 %}
                        <li class="disabled">
                            <a href="/page/{{ int(curPage) }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/page/{{ int(curPage)-1 }}">&laquo;</a>
                        </li>
                    {% end %}
                    <!-- page numbers -->
                    {% for i in xrange(int(pageNum)) %}
                        <li {% if i+1 == int(curPage) %}class="active"{% end %}>
                            <a href="/page/{{ i+1 }}">{{ i+1 }}</a>
                        </li>
                    {% end %}
                    <!-- next -->
                    {% if int(curPage) >= int(pageNum) %}
                        <li class="disabled">
                            <a href="/page/{{ int(curPage) }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/page/{{ int(curPage)+1 }}">&raquo;</a>
                        </li>
                    {% end %}
                </ul>
            </div>

        </div>
        <div class="col-md-4">
            <div class="well well-lg" style="text-align: center;">
                {% if cookieName %}
                    <p><h3>{{ cookieName }}</h3></p>
                    <div class="col-sm-6">
                        <p><h4>发帖数</h4></p>
                        <p><h4>{% raw len(user["posts"]) %}</h4></p>
                    </div>
                    <div class="col-sm-6">
                        <p><h4>评论数</h4></p>
                        <p><h4>{% raw len(user["comments"]) %}</h4></p>
                    </div>
                    <hr>
                    <a href="/newpost" class="btn btn-success">发 帖</a>
                {% else %}
                    <a href="/login" class="btn btn-success">用户登录</a>
                {% end %}
            </div>
        </div>
    </div>
</div>
{% end %}