{% extends "template.html" %}
{% include "head.html" %}

{% block css %}
<!--
Comes from http://www.codingdrama.com/bootstrap-markdown/
-->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css" />
{% end %}

{% block js %}
<!--
Comes from http://www.codingdrama.com/bootstrap-markdown/
-->
<script type="text/javascript" src="/static/js/markdown.js"></script>
<script type="text/javascript" src="/static/js/to-markdown.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-markdown.js"></script>
<script type="text/javascript" src="/static/locale/bootstrap-markdown.zh.js"></script>
{% end %}

{% block body %}
<div class="container">
    {% if notice %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ notice_msg }}
        </div>
    {% end %}
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h2>{{ post["title"] }}</h2>
            </div>
            <span style="text-align:left;" class="post-info"><i>{% raw time_to_now(post["post_time"]) %}</i> by {{ post["author"] }}</span>
            {% if post["author"] == cookieName %}
                <span class="post-info">  •  <a href="/editPost/{{ post['post_num'] }}" style="text-align:right; color:grey;">编辑</a>  •  <a href="/removePost/{{ post['post_num'] }}" style="text-align:right; color:grey;">删除</a></span>
            {% end %}
            <p class="post-show">{% raw content %}</p>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_sharing_toolbox"></div>
            <hr/>
            <!-- Comments -->
            <h4><b>回复</b></h4>
            <ul>
                {% for comment in post["comments"] %}
                    <li>
                        <p>{% raw translate(comment["content"]) %}</p>
                        <span style="text-align:left;" class="post-info">回复于<i>{% raw time_to_now(comment["post_time"]) %}</i> by {{ comment["author"] }}</span>
                        <hr/>
                    </li>
                {% end %}
            </ul>
            <!-- Write comments -->
            <form action="/post/{{ post['post_num'] }}" method="post" accept-charset="utf-8">
                {% raw xsrf_form_html() %}
                <textarea name="commentContent" data-provide="markdown" rows="5" placeholder="在此输入你的内容"></textarea>
                <hr/>
                <div style="text-align:center;">
                    <button type="submit" class="btn btn-primary">发表回复</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="well well-lg" style="text-align: center;">
                {% if cookieName %}
                    <p><h3>{{ cookieName }}</h3></p>
                    <div class="col-sm-6">
                        <p><h4>发帖数</h4></p>
                        <p><h4>{% raw len(user["posts"]) %}</h4></p>
                    </div>
                    <div class="col-sm-6">
                        <p><h4>评论数</h4></p>
                        <p><h4>{% raw len(user["comments"]) %}</h4></p>
                    </div>
                    <hr>
                    <a href="/newpost" class="btn btn-success">发 帖</a>
                {% else %}
                    <a href="/login" class="btn btn-success">用户登录</a>
                {% end %}
            </div>
        </div>
    </div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-554fc616140d2907" async="async"></script>
{% end %}