{% extends "template.html" %}
{% include "head.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h2>{{ post["title"] }}</h2>
            </div>
            <span style="text-align:left;">Posted on <i>{{ post["post_time"] }}(EST)</i> by {{ post["author"] }}</span>
            <p>{% raw content %}</p>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_sharing_toolbox"></div>
            <hr/>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <p>还不知道放啥</p>
            </div>
        </div>
    </div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-554fc616140d2907" async="async"></script>
{% end %}